@font-face {
  font-family: Neue-Montreal;
  src: url('/neue-montreal/NeueMontreal-Medium.otf') format('opentype');
}

@font-face {
  font-family: Neue-Montreal-Regular;
  src: url('/neue-montreal/NeueMontreal-Regular.otf') format('opentype');
}

@font-face {
  font-family: Neue-Montreal-Light-Italic;
  src: url('/neue-montreal/NeueMontreal-LightItalic.otf') format('opentype');
}

@font-face {
  font-family: Neue-Montreal-Light;
  src: url('/neue-montreal/NeueMontreal-Light.otf') format('opentype');
}
@font-face {
  font-family: Wotfard-Serif;
  src: url('/Wotfard_Regular/Wotfard_Regular_Desktop/Wotfard-Regular.otf')
    format('opentype');
}

@mixin flexRow() {
  display: flex;
  flex-direction: row;
}

@mixin flexColumn() {
  display: flex;
  flex-direction: column;
}

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1025px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Neue-Montreal;
}

svg {
  position: absolute;
  height: 6rem;
  width: 6rem;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: center;

  .inner {
    stroke: #fff;
    stroke-width: 3;
  }
  .dotted {
    stroke-dasharray: 0.4, 12.5;
    stroke: #fff;
    stroke-linecap: round;
    scale: 1;
    transition: all 0.3s ease-in;
    z-index: 0;
    stroke-width: 3;
  }

  .hovered {
    stroke-dasharray: 1, 1;
    stroke-width: 10;
    scale: 1.2;
    z-index: 3;
  }
}

html::-webkit-scrollbar {
  width: 0.3rem;
  background-color: rgba(0, 0, 0, 0);
}

html::-webkit-scrollbar-thumb {
  width: 0.5rem;
  border-radius: 100vw;
  background-color: rgba(255, 255, 255, 0.3);
}

body {
  background-color: #000;
}

.wrapper {
}

.menu-list .desktop {
  @media (max-width: $breakpoint-laptop) {
    display: none;
  }
}

.menu-list-mobile {
  @include flexRow();
  justify-content: flex-end;
  position: absolute;
  right: 0rem;
  width: 100%;
  display: none;
  @media (max-width: $breakpoint-laptop) {
    display: block;
  }

  .menu-trigger {
    z-index: 3;
    position: absolute;
    right: 0rem;
  }

  .links-container {
    @include flexRow();
    justify-content: center;
    position: fixed;
    z-index: 2;
    width: 100%;

    .links-box {
      @include flexColumn();
      row-gap: 3rem;
      position: absolute;
      margin-top: 5rem;
      @media (max-width: $breakpoint-tablet) {
        top: 5rem;
      }
      span {
        font-family: Neue-Montreal-Light-Italic;
      }

      .menu-item {
        list-style: none;
        font-size: 5rem;
        font-family: Neue-Montreal-Light-Italic;
        border-bottom: 1px solid #000;

        @media (max-width: $breakpoint-mobile) {
          font-size: 3rem;
        }
      }
    }
  }
}

.menu-list-desktop {
  color: #fff;
  position: fixed;
  text-align: right;
  padding: 0rem 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  column-gap: 0.5rem;
  align-items: flex-end;
  justify-content: center;
  right: 1rem;
  bottom: 1rem;
  height: 3rem;
  width: 7rem;
  transition: all 0.3s ease-in-out;
  z-index: 3;

  @media (max-width: $breakpoint-laptop) {
    display: none;
  }

  .link,
  .menu-trigger {
    font-family: Neue-Montreal-Light-Italic;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .menu-trigger {
    position: fixed;
    transform: translate(0%, 0%);
    transition: all 0.3s ease-in-out;
    transition-delay: 100ms;
    font-size: 2rem;
    &.open {
      transform: translate(0%, -250%);
    }

    &.invert-color {
      color: #000;
    }
  }

  &.open {
    height: 10rem;
    width: 10rem;
  }

  .link {
    transform: translate(0%, 0%);
    position: relative;
    &:hover {
      transform: translate(-20%, 0%);
    }

    &.invert-color {
      color: #000;
    }

    span {
      font-size: 1rem;
      font-family: Neue-Montreal-Light-Italic;
    }
  }
}

.page-section {
  background-color: rgba(0, 0, 0, 0);
  color: #fcfbf5;
}

.page-1 {
  @include flexColumn();
  align-items: flex-start;
  height: 100vh;
  z-index: 1;
  max-width: 1440px;
  width: 100%;
  @media (max-width: $breakpoint-tablet) {
    max-width: 0rem;
  }

  @media (max-width: $breakpoint-mobile) {
  }

  .hero-header {
    max-width: calc(100vw - 30%);
    flex-wrap: wrap;
    @media (max-width: $breakpoint-tablet) {
      position: absolute;
      top: 1rem;
    }
  }

  h1 {
    height: fit-content;
    padding: 0.5rem 1rem;
    font-size: 8rem;

    @media (max-width: $breakpoint-mobile) {
      font-size: 4rem;
    }
    p {
      font-size: 4rem;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position: absolute;
      left: 1rem;
      width: 40rem;
      opacity: 0;
      transition: opacity 0.7s ease-in;
      transition-delay: 1s;
      &.gradient-1 {
        background-image: linear-gradient(
          to right top,
          #d16ba5,
          #c777b9,
          #ba83ca,
          #aa8fd8,
          #9a9ae1,
          #8aa7ec,
          #79b3f4,
          #69bff8,
          #52cffe,
          #41dfff,
          #46eefa,
          #5ffbf1
        );
      }
      &.gradient-2 {
        background-image: linear-gradient(45deg, #647bc2, #ca467b, #e9c37c);
      }
      &.gradient-3 {
        background-image: linear-gradient(45deg, #a65189, #e5bba6, #65fdcc);
      }
      &.gradient-4 {
        background-image: linear-gradient(45deg, #98b56b, #0a886b, #6e2280);
      }

      &.show {
        opacity: 1;
      }
      @media (max-width: $breakpoint-mobile) {
        font-size: 3rem;
        width: fit-content;
      }
    }
  }

  .footer {
    @include flexColumn();
    position: fixed;
    column-gap: 0.5rem;
    bottom: 1rem;
    left: 1rem;
    align-items: flex-start;
    row-gap: 0.5rem;
    @media (max-width: $breakpoint-tablet) {
      bottom: 5rem;
    }
    div {
      @include flexRow();
      column-gap: 0.7rem;
      span {
        border-bottom: 0.05px solid #fcfbf5;
        width: 5rem;
        align-self: center;
        @media (max-width: $breakpoint-mobile) {
          width: 3rem;
        }
      }
      p {
        font-family: Neue-Montreal-Light;
        font-size: 1rem;
        @media (max-width: $breakpoint-mobile) {
          font-size: 0.8rem;
        }
      }
    }
  }
}

.page-2 {
  @include flexColumn();
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 1;
  background-color: #fcfbf5;
  width: 100%;
  article {
    @include flexColumn();
    row-gap: 3rem;
    justify-content: center;
    align-items: center;
    max-width: 40rem;

    @media (max-width: $breakpoint-mobile) {
      position: absolute;
      top: 5rem;
    }

    div {
      @include flexColumn();
      row-gap: 1rem;
      align-items: center;
      background-color: rgba(3, 2, 1, 0.8);
      padding: 1.2rem 1rem;
      border-radius: 6px;
      background-color: #fcfbf5;

      p {
        color: #555555;
        font-family: Wotfard-Serif;
        .hyperlink {
          cursor: point;
          color: hotpink;
        }

        @media (max-width: $breakpoint-mobile) {
          font-size: 0.8rem;
        }
      }
    }

    img {
      height: 15rem;
      border-radius: 50%;
      @media (max-width: $breakpoint-mobile) {
        height: 10rem;
      }
    }
  }
}

.page-3 {
  @include flexColumn();
  background-color: #fcfbf5;
  color: rgba(3, 2, 1, 0.8);

  height: fit-content;
  align-items: center;

  h2 {
    width: 95%;
    font-size: 7rem;
    height: 10rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    @media (max-width: $breakpoint-laptop) {
      justify-content: flex-start;
    }

    @media (max-width: $breakpoint-mobile) {
      font-size: 5rem;
    }
  }

  article {
    @include flexRow();

    border-top: 0.5px solid #000;
    width: 95%;
    height: 100%;

    @media (max-width: $breakpoint-mobile) {
      @include flexColumn();
      flex-direction: column-reverse;
    }

    .skills {
      @include flexColumn();
      height: 100%;
      width: 100%;
      padding: 0.8rem 1rem;

      @media (max-width: $breakpoint-mobile) {
        @include flexRow();
        justify-content: space-between;
      }

      h3 {
        font-size: 2.5rem;

        text-align: right;
        height: 5rem;
        @media (max-width: $breakpoint-tablet) {
          font-size: 1.8rem;
          margin-bottom: 1rem;
        }
      }

      .text {
        position: relative;
        font-size: 2rem;

        font-family: Neue-Montreal-Regular;
        @media (max-width: $breakpoint-tablet) {
          font-size: 1.5rem;
        }

        @media (max-width: $breakpoint-mobile) {
          font-size: 1rem;
        }

        div {
          top: 0rem;
        }
      }
    }

    .projects-section {
      @include flexColumn();

      width: 150rem;

      padding-right: 5rem;
      border-right: 0.5px solid #000;

      @media (max-width: $breakpoint-tablet) {
        width: 110rem;
        padding-right: 2rem;
        padding-bottom: 4rem;
      }

      @media (max-width: $breakpoint-mobile) {
        width: 100%;
        padding-right: 0rem;
        border-right: none;
      }

      .project-container {
        @include flexColumn();

        margin-top: 1rem;
        .project-header {
          @include flexRow();
          border-bottom: 1px solid #000;
          border-bottom-style: dashed;
          width: 100%;
          padding: 0.8rem 0rem;

          font-size: 2rem;
          justify-content: space-between;

          @media (max-width: $breakpoint-tablet) {
            font-size: 1.6rem;
          }

          @media (max-width: $breakpoint-mobile) {
            @include flexColumn();
            align-items: flex-start;
            row-gap: 0.5rem;
          }

          .left {
            font-family: Neue-Montreal-Regular;
          }

          .right {
            @include flexRow();
            justify-content: space-between;

            height: fit-content;
            align-self: flex-end;
            padding: 0.2rem 0.25rem;
            column-gap: 1rem;
            @media (max-width: $breakpoint-mobile) {
              align-self: flex-start;
            }
            .tech {
              font-size: 0.8rem;
              font-family: Neue-Montreal-Regular;
              border: none;
              background-color: rgba(3, 2, 1, 0.8);
              color: #fcfbf5;
              padding: 0.5rem 0.6rem;

              @media (max-width: $breakpoint-tablet) {
                @include flexRow();
                justify-content: center;
                font-size: 0.6rem;
                width: 5rem;
              }
            }
          }
        }

        .project-description {
          @include flexColumn();
          font-weight: 200;
          padding: 0.8rem 0rem;
          row-gap: 1rem;
          font-weight: 100;

          .project-img-container {
            height: fit-content;
            position: relative;
          }

          .project-overlay {
            @include flexRow();
            position: absolute;
            color: #fff;

            height: 100%;
            width: 100%;
            justify-content: flex-end;
            align-items: flex-end;
            background-color: rgba(3, 2, 1, 0);
            transition: background-color 300ms ease-in;
            column-gap: 1rem;
            padding: 0.8rem 1rem;

            &:hover {
              background-color: rgba(3, 2, 1, 0.3);
            }

            .project-links {
              background-color: #000;
              padding: 0.2rem 0.4rem;
              border-radius: 4px;
              transition: all 300ms ease-in;

              a {
                color: #fff;
                text-decoration: none;
                transition: all 300ms ease-in;
                font-family: Neue-Montreal-Regular;
              }

              &:hover a {
                color: #000;
              }

              &:hover {
                background-color: #fff;
              }
            }
          }

          .project-img {
            width: 100%;
            border-radius: 5px;
            height: 100%;
          }

          p {
            font-family: Neue-Montreal-Regular;
            padding: 0.4rem 0rem;
          }
        }
      }
    }
  }
}

.page-4 {
  @include flexColumn();
  height: 100vh;
  background-color: rgba(3, 2, 1, 0.7);
  position: relative;
  justify-content: center;
  align-items: center;

  ul {
    @include flexColumn();

    width: 90%;
    a {
      font-size: 6rem;
      text-decoration: none;
      color: #fcfbf5;
      width: fit-content;
      position: relative;
      @media (max-width: $breakpoint-mobile) {
        font-size: 3rem;
      }
      li {
        list-style: none;
        margin: -0.2rem;
        padding: 0rem;
      }

      &::after {
        content: '';
        border-bottom: 3px solid #fcfbf5;
        width: 0%;
        display: block;
        transition: width 0.6s cubic-bezier(0.69, 0.17, 0.22, 1.03);
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}

/* Buttons */

.menu-trigger-mobile {
  border: none;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 1);
  width: 100%;
  position: fixed;
  z-index: 3;
  color: #fcfbf5;
  transition: color 1s ease-in;
  padding: 0.8rem 1rem;
  height: fit-content;
  bottom: 0rem;
  &.open {
    color: #000;
  }

  .show-menu-icon {
    filter: invert(1);
    cursor: pointer;
    transform: rotateZ(0deg);
    transition: all 0.5s ease-in;
    @media (max-width: $breakpoint-mobile) {
      height: 2rem;
    }

    @media (max-width: $breakpoint-tablet) {
      height: 2rem;
    }
    &.open {
      transform: rotateZ(45deg);
    }

    &.light-background {
    }
  }
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rainbow {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
